@import '../../styles/colors.scss';
.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $bg-header;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 1rem 10rem;
    @media(max-width: 720px) {
        flex-direction: column;
        padding: 0.9rem 2rem;
        grid-row-gap: 1rem;
    }
    &Search {
        display: flex;
        align-items: center;
        position: relative;
        border: 1px solid rgba(61, 79, 145, .5);
        background-color: rgba(8, 15, 40, .5);
        padding: 0.7rem 1.5rem;
        border-radius: 2rem;
        padding: 0.6rem 1rem;
        transition: 0.3s ease-in-out;
        &Icon {
            padding-right: 0.5rem;
            color: $clr-light;
            font-size: 18px;
        }
        &:focus-within {
            border-color: $clr-light;
        }
    }
}