@import '../../../styles/colors';
.search {
    outline: none;
    font-family: inherit;
    border: none;
    color: inherit;
    background-color: transparent;
    &::placeholder {
        color: inherit;
    }
}